.container {
}
.blogItem {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 0px 5px;
  padding: 10px;
  background: rgb(238, 238, 251);
  background: radial-gradient(
    circle,
    rgba(238, 238, 251, 1) 0%,
    rgba(229, 229, 255, 1) 35%,
    rgba(192, 237, 246, 1) 100%
  );
}